@font-face {
  font-family: 'GlacialIndifference';
  src: url('../fonts/GlacialIndifference-Regular.otf') format('opentype');
}
::-webkit-scrollbar {
			display:none;
		}
#content{
	position: absolute;
	top:0;
	left: 0;
    width: 100vw;
    min-height: 100vh;
    margin:0;
    padding:0;
	overflow: hidden;
}
#MenuBar{
	position: fixed;
	bottom:0;
	left: 0;
    width: 100vw;
    min-height: 5vh;
    margin:0;
    padding:0;
	overflow: hidden;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	background-color: white;
}
.backbtn{
	position: absolute;
	top:5px;
	left:10px;
	width:10vw;
	min-height:5vh;
	margin:0;
	padding:0;
	overflow:hidden;
	border:none;
	background:url(../img/icons/icons8-back-50.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.navbtn{
	float: left;
	background-color: gray;
	bottom:0;
    width: 20vw;
    min-height: 7vh;
    margin:0;
    padding:0;
	overflow: hidden;
	text-align: center;
}
.bHome{
	background:url(../img/icons/grid.svg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bMap{
	background:url(../img/icons/placeholder.svg);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.bSch{
	background:url(../img/icons/small-calendar.svg);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.bMatch{
	background:url(../img/icons8-contacts-50.png);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.bInfo{
	background:url(../img/icons/info-button.svg);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
html,
body {
    font-family: 'GlacialIndifference', Fallback, sans-serif;
    min-height: 100%;
    min-width: 100%;
}

