* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width: 100%;
    height: 100%;
    margin: 0;
  
/*
    background: rgba(160,33,103,1);
    background: -moz-linear-gradient(-45deg, rgba(160,33,103,1) 0%, rgba(234,68,145,1) 51%, rgba(246,146,32,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(160,33,103,1)), color-stop(51%, rgba(234,68,145,1)), color-stop(100%, rgba(246,146,32,1)));
    background: -webkit-linear-gradient(-45deg, rgba(160,33,103,1) 0%, rgba(234,68,145,1) 51%, rgba(246,146,32,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(160,33,103,1) 0%, rgba(234,68,145,1) 51%, rgba(246,146,32,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(160,33,103,1) 0%, rgba(234,68,145,1) 51%, rgba(246,146,32,1) 100%);
    background: linear-gradient(135deg, rgba(160,33,103,1) 0%, rgba(234,68,145,1) 51%, rgba(246,146,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a02167', endColorstr='#f69220', GradientType=1 );
*/
  
background: linear-gradient(-45deg, #f69320, #ea4491, #a02167);
background-size: 200%;

-webkit-animation: SHIFTTheme 10s ease-in-out infinite;
-moz-animation: SHIFTTheme 10s ease-in-out infinite;
-o-animation: SHIFTTheme 10s ease-in-out infinite;
animation: SHIFTTheme 10s ease-in-out infinite;
}

@-webkit-keyframes SHIFTTheme {
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
  transform: translate3d(0, 0, 0);
}
@-moz-keyframes SHIFTTheme {
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
  transform: translate3d(0, 0, 0);
}
@-o-keyframes SHIFTTheme {
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
  transform: translate3d(0, 0, 0);
}
@keyframes SHIFTTheme { 
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
  transform: translate3d(0, 0, 0);
}


@font-face {
font-family: GlacialIndifferenceBold;
src: url(../font/GlacialIndifference-Bold.otf);
}

@font-face {
font-family: GlacialIndifferenceRegular;
src: url(../font/GlacialIndifference-Regular.otf);
}

@font-face {
font-family: GlacialIndifferenceItalic;
src: url(../font/GlacialIndifference-Italic.otf);
}

.logo-container {
    width: 227.4px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -113.7px;
    margin-top: -30px;
}

svg {
    height: 60px;
}

.get-started button {
  outline: none;
  border: none;
  background: none;
  font-family: GlacialIndifferenceBold;
  color: #C9347E;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  background-color: white;
  position: fixed;
  top: 88%;
  left: 50%;
  margin-left: -100px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.get-started button:hover {
  color: white;
  background-color: rgba(0,0,0,.4);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.get-started button:active {
  color: white;
  background-color: rgba(0,0,0,.4);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
}