#map-head {
	font-family: GlacialIndifferenceBold;
	font-size: 1.4em;
    text-transform: uppercase;
	text-align: center;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ededed;
}

#map-content {
	width: 100%;
	height: 620px;
	background-image: url(../img/map-example.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}