#infoHead{
	font-family: 'GlacialIndifferenceRegular';
	font-weight: bold;
	font-style: normal;
	font-size: 25px;
}
.infoButton{
	font-family: 'GlacialIndifferenceRegular';
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	color: #D8D8D8;
	width: 50%;
	text-align: center;
	background-color:white;
	border: white;
	border-bottom: 4px solid #E8E8E8;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.infoButton:active,
.infoButton:focus{
	outline:0;
	border-bottom: 4px solid #FFA500;
	color: black;
}

#infoText {
	font-family: 'GlacialIndifferenceRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
}
#info{	
	text-align: center;
	width: auto;
	margin-top: 20px;
}



@font-face {
  font-family: 'GlacialIndifference';
  src: url('../fonts/GlacialIndifference-Regular.otf') format('opentype');
}
::-webkit-scrollbar {
			display:none;
		}
#content{
	position: absolute;
	top:0;
	left: 0;
    width: 100vw;
    min-height: 100vh;
    margin:0;
    padding:0;
	overflow: hidden;
}
#MenuBar{
	position: absolute;
	bottom:0;
	left: 0;
    width: 100vw;
    min-height: 5vh;
    margin:0;
    padding:0;
	overflow: hidden;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
}
.navbtn{
	float: left;
	background-color: gray;
	bottom:0;
    width: 20vw;
    min-height: 8vh;
    margin:0;
    padding:0;
	overflow: hidden;
	text-align: center;
}
.bHome{
	background:url(../img/icons8-home-50.png);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.bMap{
	background:url(../img/icons8-marker-50.png);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.bSch{
	background:url(../img/icons8-schedule-50.png);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.bMatch{
	background:url(../img/icons8-contacts-50.png);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.bInfo{
	background:url(../img/icons8-info-50.png);
	background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
html,
body {
    font-family: 'GlacialIndifference', Fallback, sans-serif;
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'GlacialIndifference', Fallback, sans-serif;
    font-size: 6vw;
	color: #370c2c;
	margin: 0.5vh 0;
}
.h1, .h2, h1, h2{
    font-family: 'GlacialIndifference', Fallback, sans-serif;
    font-size: 7vw;
}
.h5, h5 {
	font-size: 4.5vw;
}
#paragraph p{
	text-align: justify;
	margin: 3vh 4vw;
}
.p, .span, .input, p, span, input, div {
    font-family: 'GlacialIndifference', Fallback, sans-serif;
    font-size: 3.5vw;
    font-weight: 500;
	color: #370c2c;
}